@charset "UTF-8";
a,
a h1,
a h2 {
  display: inline-block;
  text-decoration: none;
  position: relative;
  background: #333;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right top, from(goldenrod), to(white));
  background: linear-gradient(left, goldenrod, white);
  /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link,
a h1:link,
a h2:link {
  color: white;
}

a:visited,
a h1:visited,
a h2:visited {
  color: white;
}

a:hover,
a h1:hover,
a h2:hover {
  color: goldenrod;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a h1,
a h2 {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a h1:before,
a h2:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0px;
  right: 0;
  background: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a h1:hover:before,
a h2:hover:before {
  width: 100%;
  left: 0;
  margin: auto;
  background: -webkit-linear-gradient(left, goldenrod, white);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  -webkit-appearance: unset;
}

.flex {
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.overflowhidden {
  overflow: hidden;
}

body {
  margin: 0;
  max-width: 1920px;
  min-width: 320px;
  background-color: #333333;
  font-family: 微軟正黑體;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 36pt;
  font-weight: bold;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

@media (max-width: 415px) {
  body {
    font-size: 16px;
    line-height: 24pt;
  }
}

body h1 {
  background: -webkit-linear-gradient(left, goldenrod, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  margin: auto;
}

@media (max-width: 768px) {
  body h1 {
    font-size: 50px;
  }
}

@media (max-width: 415px) {
  body h1 {
    font-size: 30px;
  }
}

body .lobster {
  font-family: 'Lobster', cursive;
}

@media (max-width: 768px) {
  body .lobster {
    font-size: 50px;
  }
}

@media (max-width: 415px) {
  body .lobster {
    font-size: 30px;
  }
}

body .row {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a,
a h1,
a h2 {
  -webkit-animation: shine 4s ease-in infinite;
          animation: shine 4s ease-in infinite;
}

@-webkit-keyframes shine {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  25% {
    opacity: 0.6;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  75% {
    opacity: 0.6;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

@keyframes shine {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  25% {
    opacity: 0.6;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  75% {
    opacity: 0.6;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

.main {
  -webkit-animation: show 10s ease-in;
          animation: show 10s ease-in;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#load {
  -webkit-animation: hide 5s ease-in;
          animation: hide 5s ease-in;
  background-color: #333;
  width: 100%;
  height: 100vh;
  position: flex;
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.buttons a {
  font-size: 40px;
  width: 20%;
  margin: 1% 0;
}

@media (max-width: 768px) {
  .buttons a {
    font-size: 22px;
  }
}

@media (max-width: 415px) {
  .buttons a {
    font-size: 17px;
  }
}

@media (max-width: 360px) {
  .buttons a {
    font-size: 12px;
  }
}

.banner img {
  width: 100%;
  margin: 0;
  display: block;
}

.pagebar {
  width: 100%;
  height: 150px;
  background-color: black;
}

@media (max-width: 768px) {
  .pagebar {
    height: 100px;
  }
}

@media (max-width: 415px) {
  .pagebar {
    height: 60px;
  }
}

.history {
  background: #333;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right top, from(#646464), color-stop(20%, #333), color-stop(50%, #333), color-stop(80%, #646464), to(#333));
  background: linear-gradient(to right, #646464 0%, #333 20%, #333 50%, #646464 80%, #333 100%);
  /* Standard syntax (must be last) */
}

/* SWIPER */
.swiper-container {
  width: 100%;
}

.swiper-container .swiper-slide img {
  width: 100%;
}

.swiper-container .text {
  padding: 2% 0 2% 0;
  width: 80%;
  margin: auto;
}

.swiper-container .swiper-button-next:hover,
.swiper-container .swiper-button-prev:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.swiper-container .swiper-pagination {
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

/* SWIPER */
.ytbox {
  background: #333;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right top, from(#646464), color-stop(20%, #333), to(#646464));
  background: linear-gradient(to right, #646464 0%, #333 20% 80%, #646464 100%);
}

.featureImgbox {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1% 0 0% 0;
}

.featureImgbox .featuretext {
  width: 350px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 2% 100px;
  /* 去除bootstrap的box-sizing:border-box */
}

@media (max-width: 375px) {
  .featureImgbox .featuretext {
    width: 200px;
    padding: 2% 0px;
  }
}

.originstext {
  top: 75%;
  width: 50%;
  left: 0;
  right: 0;
  text-shadow: -1px -1px 10px #333333, 1px 1px 10px #333, 1px 1px 10px #333, -1px -1px 10px #333;
}

@media (max-width: 415px) {
  .originstext {
    width: 80%;
  }
}

.origins {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.origins img {
  width: 50%;
}

.origins .dj {
  background-image: url(./origins/DJ3.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}

.origins .graffiti {
  background-image: url(./origins/graffitiBack2.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}

.origins .sd {
  background-image: url(./origins/SD4.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}

.origins .mc {
  background-image: url(./origins/MC1.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}

.origins .text {
  width: calc(700px + 10%);
  width: calc(80%);
}

.origins .col-md-12,
.origins .col-lg-6 {
  padding: 0;
}

@media (max-width: 991px) {
  .origins .dj {
    width: 100%;
    height: 70vh;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .origins img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .origins .graffiti {
    width: 100%;
    height: 70vh;
  }
  .origins .sd,
  .origins .mc {
    width: 100%;
    height: 70vh;
    background-position: center;
  }
}

@media (max-width: 600px) {
  .origins .dj,
  .origins .sd,
  .origins .mc,
  .origins .graffiti {
    height: 80vh;
  }
  .origins .text {
    padding-top: 50px;
    width: 70%;
  }
}

@media (max-width: 415px) {
  .origins .dj,
  .origins .sd,
  .origins .mc,
  .origins .graffiti {
    height: 60vh;
  }
  .origins .text {
    width: 80%;
  }
}

.pt2pb2 {
  padding: 2% 0 2% 0;
}

.cultureSwiper {
  background-image: url(./back4.jpg);
  background-size: cover;
}

.cultureSwiper .card {
  background-color: transparent;
}

.cultureSwiper .card .card-body {
  background-color: rgba(51, 51, 51, 0.5);
}

.culture {
  background-image: url(./back4.jpg);
}

.culture h1 {
  font-size: 40px;
}

.culture img {
  width: 100%;
}

.culture .cultureSample,
.culture .cultureFlow,
.culture .cultureRemix {
  background-color: rgba(51, 51, 51, 0.3);
  width: 30%;
}

@media (max-width: 768px) {
  .culture .cultureSample,
  .culture .cultureFlow,
  .culture .cultureRemix {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .culture .cultureSample,
  .culture .cultureFlow,
  .culture .cultureRemix {
    width: 90.625%;
  }
}

.culture .cultureSample .text,
.culture .cultureFlow .text,
.culture .cultureRemix .text {
  width: 80%;
}

.culture .container-100 {
  max-width: 100%;
}

.card {
  border: none;
  background-color: transparent;
}

.card .card-body {
  background-color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 415px) {
  .swiper-slide .card {
    padding-top: 10vh;
  }
}

.genresBannertext {
  top: calc(50% - 15vw);
  width: calc(50% + 15vh);
  top: 50%;
  width: 50%;
  left: 0;
  right: 0;
  text-shadow: -1px -1px 10px #333333, 1px 1px 10px #333, 1px 1px 10px #333, -1px -1px 10px #333;
  top: calc(50% - 15vw);
}

@media (max-width: 600px) {
  .genresBannertext {
    top: 15%;
    width: 60%;
    font-size: 14px;
    line-height: 250%;
  }
}

@media (max-width: 415px) {
  .genresBannertext {
    line-height: 200%;
  }
}

@media (max-width: 360px) {
  .genresBannertext {
    top: 10%;
    width: 70%;
    font-size: 12px;
    line-height: 200%;
  }
}

.genresback {
  background-image: url(./origins/graffitiBack2.jpg);
}

.genres a {
  margin: auto;
  color: goldenrod;
  -webkit-text-fill-color: unset;
}

.genres h1 {
  font-size: 40px;
  margin: 5px auto 5px;
}

@media (max-width: 360px) {
  .genres h1 {
    font-size: 30px;
  }
}

.genres .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .footer h1 {
    font-size: 40px;
  }
}

@media (max-width: 415px) {
  .footer h1 {
    font-size: 30px;
  }
}

@media (max-width: 376px) {
  .footer h1 {
    font-size: 25px;
  }
}

@media (max-width: 337px) {
  .footer h1 {
    font-size: 16px;
  }
}

.backTOtop {
  position: fixed;
  z-index: 999;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
}

.backTOtop:hover {
  opacity: 0.5;
}

.backTOtop img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */