a,
a h1,
a h2 {
    display: inline-block;
    text-decoration: none;
    position: relative;
    background: #333;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, goldenrod, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, goldenrod, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, goldenrod, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, goldenrod, white);
    /* Standard syntax (must be last) */
    // background: -webkit-linear-gradient(left, goldenrod, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:link {
        color: white;
    }
    &:visited {
        color: white;
    }
    &:hover {
        color: goldenrod;
        text-decoration: none;
        transform: scale(1.1);
        transition: 0.5s;
        // border-bottom: 2px solid blue;
    }
    // &:active {
    //     color: crimson;
    // }
}

a h1,
a h2 {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    transition: all 0.3s;
    &:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0px;
        right: 0;
        background: white;
        transition: all 0.5s;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            margin: auto;
            background: -webkit-linear-gradient(left, goldenrod, white);
            transition: all 0.3s;
        }
    }
}

button {
    -webkit-appearance: unset;
}

// a::after {
//     border-radius: 1em;
//     border-top: .1em solid #2F56B0;
//     content: "";
//     position: absolute;
//     right: 100%;
//     bottom: .14em;
//     left: 0;
//     transition: right .4s cubic-bezier(0, .5, 0, 1);
// }
// a:after {
//     content: "";
//     position: absolute;
//     bottom: 0px;
//     left: 30%;
//     width: 0%;
//     border-bottom: 2px solid #3366FF;
//     transition: 0.4s;
// }
// a:hover:after {
//     width: 45%;
// }
.flex {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.overflowhidden {
    overflow: hidden;
}

body {
    margin: 0;
    max-width: 1920px;
    min-width: 320px;
    background-color: #333333;
    font-family: 微軟正黑體;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 36pt;
    font-weight: bold;
    // text-align: justify;
    // word-break: quote($string: "，");
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    @media (max-width: 415px) {
        font-size: 16px;
        line-height: 24pt;
    }
    h1 {
        background: -webkit-linear-gradient(left, goldenrod, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 70px;
        margin: auto;
        @media (max-width: 768px) {
            font-size: 50px;
        }
        @media (max-width: 415px) {
            font-size: 30px;
        }
    }
    .lobster {
        font-family: 'Lobster', cursive;
        @media (max-width: 768px) {
            font-size: 50px;
        }
        @media (max-width: 415px) {
            font-size: 30px;
        }
    }
    .row {
        margin: 0;
    }
}

html {
    scroll-behavior: smooth;
}

// loading動畫
.main {
    // animation: showHide 3s ease-in alternate ; 
    animation: show 10s ease-in;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#load {
    animation: hide 5s ease-in;
    background-color: #333;
    width: 100%;
    height: 100vh;
    position: flex;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// loading動畫
// @keyframes showHide { 
//     0% {width:0%} 
//     100% {width:100%;} 
.buttons a {
    font-size: 40px;
    width: 20%;
    margin: 1% 0;
    @media (max-width: 768px) {
        font-size: 22px;
    }
    @media (max-width: 415px) {
        font-size: 17px;
    }
    @media (max-width: 360px) {
        font-size: 12px;
    }
}

.banner img {
    width: 100%;
    margin: 0;
    display: block;
}

.pagebar {
    width: 100%;
    height: 150px;
    background-color: black;
    // h1{
    //     background: -webkit-linear-gradient(right,goldenrod, white);
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }
    @media (max-width: 768px) {
        height: 100px;
    }
    @media (max-width: 415px) {
        height: 60px;
    }
}

.history {
    // rgba(255, 0, 0, .7), rgba(255, 165, 0, .7), rgba(255, 255, 0, .7), rgba(0, 128, 0, .7), rgba(0, 255, 255, .7), rgba(0, 0, 255, .7), rgba(238, 130, 238, .7
    // 彩虹色票
    background: #333;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgb(100, 100, 100) 0%, #333 20%, #333 50%, rgb(100, 100, 100) 80%, #333 100%);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(100, 100, 100) 0%, #333 20%, #333 50%, rgb(100, 100, 100) 80%, #333 100%);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(100, 100, 100) 0%, #333 20%, #333 50%, rgb(100, 100, 100) 80%, #333 100%);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(100, 100, 100) 0%, #333 20%, #333 50%, rgb(100, 100, 100) 80%, #333 100%);
    /* Standard syntax (must be last) */
    // text-shadow: -1px -1px 5px rgb(51, 51, 51), 1px 1px 5px #333, 1px 1px 5px #333, -1px -1px 5px #333;
}


/* SWIPER */

.swiper-container {
    width: 100%;
    .swiper-slide img {
        width: 100%;
    }
    .text {
        padding: 2% 0 2% 0;
        width: 80%;
        margin: auto;
        // background: -webkit-linear-gradient(right,rgb(248, 76, 76), #3170ff);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        transform: scale(1.1);
        filter: brightness(150%);
    }
    .swiper-pagination {
        transition: 1s opacity;
    }
}


/* SWIPER */

.ytbox {
    background: #333;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #fff 0%, #333 10%, #333 90%, #fff 100%);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fff 0%, #333 10%, #333 90%, #fff 100%);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fff 0%, #333 10%, #333 90%, #fff 100%);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #646464 0%, #333 20% 80%, #646464 100%);
}

.featureImgbox {
    justify-content: space-around;
    padding: 1% 0 0% 0;
    .featuretext {
        width: 350px;
        box-sizing: content-box;
        // margin-left: 15px;
        // margin-right: 15px;
        // width: 100%;
        // padding: 35px 100px;
        padding: 2% 100px;
        // padding: 2% 0px;
        // padding: 2% 10% ;
        /* 去除bootstrap的box-sizing:border-box */
        @media (max-width: 375px) {
            width: 200px;
            padding: 2% 0px;
        }
    }
}

.originstext {
    top: 75%;
    width: 50%;
    left: 0;
    right: 0;
    text-shadow: -1px -1px 10px rgb(51, 51, 51), 1px 1px 10px #333, 1px 1px 10px #333, -1px -1px 10px #333;
    @media (max-width: 415px) {
        width: 80%;
    }
}

.origins {
    justify-content: space-between;
    img {
        width: 50%;
    }
    .dj {
        background-image: url(./origins/DJ3.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
        // opacity: 0.5;
    }
    .graffiti {
        background-image: url(./origins/graffitiBack2.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
    .sd {
        background-image: url(./origins/SD4.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
    .mc {
        background-image: url(./origins/MC1.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
    .text {
        width: calc(700px + 10%);
        width: calc(80%);
        // width: calc(375px + 40%);
        // min-height: 658px;
        // background-color: gray;
    }
    .col-md-12,
    .col-lg-6 {
        padding: 0;
    }
    // .col-md-12{
    //     height: auto;
    // }
    @media (max-width: 991px) {
        .dj {
            width: 100%;
            height: 70vh;
            order: 1;
        }
        img {
            order: 2;
        }
        .graffiti {
            width: 100%;
            height: 70vh;
        }
        .sd,
        .mc {
            width: 100%;
            height: 70vh;
            background-position: center;
        }
    }
    @media (max-width: 600px) {
        .dj,
        .sd,
        .mc,
        .graffiti {
            height: 80vh;
        }
        .text {
            padding-top: 50px;
            width: 70%;
        }
    }
    @media (max-width: 415px) {
        .dj,
        .sd,
        .mc,
        .graffiti {
            height: 60vh;
        }
        .text {
            width: 80%;
        }
    }
}

.pt2pb2 {
    padding: 2% 0 2% 0;
}

.cultureSwiper {
    background-image: url(./back4.jpg);
    background-size: cover;
    .card {
        background-color: transparent;
        .card-body {
            background-color: rgba($color: #333, $alpha: 0.5);
        }
    }
}

.culture {
    background-image: url(./back4.jpg);
    h1 {
        font-size: 40px;
    }
    img {
        width: 100%;
    }
    .cultureSample,
    .cultureFlow,
    .cultureRemix {
        background-color: rgba($color: #333, $alpha: 0.3);
        width: 30%;
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: 415px) {
            width: 90.625%;
        }
    }
    .cultureSample .text,
    .cultureFlow .text,
    .cultureRemix .text {
        width: 80%;
    }
    .container-100 {
        max-width: 100%;
    }
}

.card {
    border: none;
    background-color: transparent;
    .card-body {
        background-color: rgba($color: #333, $alpha: 0.5);
        // background-color:transparent;
        // background-color: transparentize($color: #000000, $amount: 0);
    }
}

.swiper-slide .card {
    @media (max-width: 415px) {
        padding-top: 10vh;
    }
}

.genresBannertext {
    top: calc(50% - 15vw);
    width: calc(50% + 15vh);
    top: 50%;
    width: 50%;
    left: 0;
    right: 0;
    text-shadow: -1px -1px 10px rgb(51, 51, 51), 1px 1px 10px #333, 1px 1px 10px #333, -1px -1px 10px #333;
    top: calc(50% - 15vw);
    @media (max-width: 600px) {
        top: 15%;
        width: 60%;
        font-size: 14px;
        line-height: 250%;
    }
    @media (max-width: 415px) {
        // top: 10%;
        // width: 65%;
        // font-size: 14px;
        line-height: 200%;
    }
    @media (max-width: 360px) {
        top: 10%;
        width: 70%;
        font-size: 12px;
        line-height: 200%;
    }
}

.genresback {
    background-image: url(./origins/graffitiBack2.jpg);
}

.genres {
    a {
        margin: auto;
        color: goldenrod;
        -webkit-text-fill-color: unset;
    }
    h1 {
        font-size: 40px;
        margin: 5px auto 5px;
        @media (max-width: 360px) {
            font-size: 30px;
        }
    }
    .card-body {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer h1 {
    @media (max-width: 600px) {
        font-size: 40px;
    }
    @media (max-width: 415px) {
        font-size: 30px;
    }
    @media (max-width: 376px) {
        font-size: 25px;
    }
    @media (max-width: 337px) {
        font-size: 16px;
    }
}

.backTOtop {
    position: fixed;
    z-index: 999;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    &:hover {
        opacity: 0.5;
    }
    img {
        width: 100%;
        // &:hover{
        //     opacity: 0.5;
        // }
    }
    // background: #34495e;
    // text-decoration: none;
    // text-align: center;
    // line-height: 50px;
    // color: white;
    // font-size: 50px;
    // -webkit-text-fill-color:unset;
    // -webkit-background-clip: unset;
    // background: unset;
    // border-radius: 50%;
    // font-size: 25px;
    // background-color: whitesmoke;
}